{{define "create_especialidade"}}
{{template "top" .Header}}
{{template "menu" .Header}}
<div class="main">	
	<div class="main-inner">
	    <div class="container">	
			<div class="row">	      	
				<div class="span12">	      		
					
					<div class="widget">					
						<div class="widget-content">
							<div class="plan-features">
								<form action="/create_especialidade" method="post">	
									<p>Create Especialidade:</p>	

									<ul>
										<li><strong>Name: &nbsp; </strong> <input type="text username-field" name="name" ></li>
										<li><strong>Expiry Date: &nbsp; </strong> <input type="text" name="expiry_date"></li>
										<li><strong>Description: &nbsp; </strong> <textarea name="description"></textarea></li>
									</ul>
									{{if .Has_error}}
									<div style="color: red; font-weight: bold;">
										{{ .Message}}
									</div>
									{{else}}
									<div style="color: green; font-weight: bold;">
										{{ .Message}}
									</div>
									{{end}}
									<div class="login-actions">
										<button class="button btn btn-primary btn-large">Add New</button>
									</div>
									</ul>
								</form>	
							</div>
						</div>
					</div>

				</div>
	      	
</div></div></div></div>

{{template "bottom"}}
{{end}}
