{{define "create_user_rating"}}
{{template "top" .Header}}
{{template "menu" .Header}}
<div class="main">	
	<div class="main-inner">
	    <div class="container">	
			<div class="row">	      	
				<div class="span12">	      		
					
					<div class="widget">					
						<div class="widget-content">
							<div class="plan-features">
								<form action="/user_rating_add" method="post">	
									<p>Update Rating:</p>	

									<ul>
										<li>
                                            <strong>Valuation: &nbsp; </strong>
                                            <select name="valuation_id">
                                                <option></option>
                                                {{range .ValuationList}}
                                                <option value="{{.ID}}">{{.Name}}</option>
                                                {{end}}
                                            </select>
                                        </li>
                                        <li><strong>Description: &nbsp; </strong> <input type="text" name="description"></li>
                                        <li><strong>Date of Valuation: &nbsp; </strong> <input type="text" name="date_of_valuation"></li>
									</ul>
									{{if .HasError}}
									<div style="color: red; font-weight: bold;">
										{{ .Message}}
									</div>
									{{else}}
									<div style="color: green; font-weight: bold;">
										{{ .Message}}
									</div>
									{{end}}
									<div class="login-actions">
										<button class="button btn btn-primary btn-large">Update</button>
									</div>
									</ul>
								</form>	
							</div>
						</div>
					</div>

				</div>
	      	
</div></div></div></div>

{{template "bottom"}}
{{end}}
