body{ background: url(../img/body-bg.png); color:#838383; font: 13px/1.7em 'Open Sans';}

.account-container {
	width: 380px; 
	display: block;
	margin: 60px auto 0 auto;	
	background: #f9f9f9;	
	border: 1px solid #d5d5d5;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow:  0px 0px 2px #dadada, inset 0px -3px 0px #e6e6e6;
}

.content {
	padding: 16px 28px 23px;
} 

.login-fields {
	
}

.login-fields .field {
	margin-bottom: 1.25em;
}

.login-fields label {
	display: none;
}

.login-fields input{
	font-family: 'Open Sans';
	font-size: 13px;
	color: #8e8d8d;
	padding: 11px 15px 10px 50px;
	background-color: #fdfdfd;
	width: 255px;
	display: block;
	margin: 0;
	box-shadow: inset 2px 2px 4px #f1f1f1;
}

.login-fields select{
	font-family: 'Open Sans';
	font-size: 13px;
	color: #8e8d8d;
	padding: 10px 15px 10px 2px;
	background-color: #fdfdfd;
	height:40px;
	display: block;
	margin: 0;
	box-shadow: inset 2px 2px 4px #f1f1f1;
}
.username-field { background: url(../img/signin/user.png) no-repeat; }
.password-field { background: url(../img/signin/password.png) no-repeat; }

.login-actions {
	float: left;
	
	width: 100%;
	
	margin-top: -1em;
	margin-bottom: 1.25em;
}

.regtr{
	float:left;
	padding:15px 0;
}
.mb_0{
	margin-bottom:0px !important;
}
/** Text Under Box**/
.login-extra {
	display: block; 
	width: 300px; 
	margin: 1.5em auto;	 
	text-align: left;
	line-height: 19px; 	
	text-shadow: 1px 1px 0px #fff; 	
}


.account-container h1 {
	margin-bottom: .4em;
	font-size: 20px;
	color: #525252;
}

/** Buttons **/

.button {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; float: right; margin-top: 18px;}

.register .login-social {
	margin-bottom: 1em;
}

.register .login-actions {
	margin-bottom: 0;
}

.register .login-fields input {
	width: 299px;
	padding-left: 6px;
}

.register .login-fields select {
	width: 320px;
	padding-left: 2px;
}
.register h1 {
	color: #444;
}

.register span.login-checkbox {
	position: relative;
	top: -6px;
	
	width: 200px;
}

.register span.login-checkbox > input[type="checkbox"] + label {
	
	position: relative;
	
	line-height: 1.3em;
}



@media (max-width: 480px) {
	
	.account-container {
		width: 280px;	
		margin-top: 35px;
	}
	
	.login-fields input, select {
		width: 160px;
	}
	
	.login-social {
		width: 100%;
	}
	
	.twitter {
		display: block;
		margin-bottom: 1em;
	}
	
	.register .login-fields input {
		width: 204px;
		padding-left: 6px;
	}
	.register .login-fields select {
		width: 225px;
		padding-left: 2px;
	}
	
}